:root {
	--green-color: #43a548;
	--dark-blue: #2c2b35;
	--gradient-green: linear-gradient(100.98deg, #43a548 -4.14%, #52e259 108.69%);
	--gradient-green-light: linear-gradient(252.7deg, #ebf5eb 17.34%, #effbf0 90.57%);
	--light-grey: #f7f8f8;
	--product-title-color: #3d4641;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	/* 1rem = 10px */
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.3;
	color: var(--dark-blue);
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1352px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.btn {
	padding: 1rem 3rem;
	background-color: var(--green-color);
	color: var(--light-grey);
	border: none;
	border-radius: 2.1rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.4;
	cursor: pointer;
	transition: all 0.4s ease;
}

.btn:hover {
	background-image: linear-gradient(100.98deg, #43a548 -4.14%, #52e259 108.69%);
}

.btn:active {
	opacity: 0.6;
}

.site-header {
	background-color: #fff;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	box-shadow: 0px 4px 24.2px 0px #0000000f;
	position: sticky;
	top: 0;
	z-index: 99999;
}

.site-header__container {
	display: flex;
	align-items: center;
}

.logo-link {
	margin-right: auto;
	display: flex;
	align-items: center;
	color: var(--dark-blue);
	transition: all 0.4s ease;
}

.logo-link:hover {
	color: #43a548;
	transform: scale(1.1);
}

.logo-link:active {
	opacity: 0.6;
}

.logo-link img {
	margin-right: 10px;
}

.logo-link__title {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.3;
	text-align: justify;
	white-space: nowrap;
}

.site-header__list {
	display: flex;
	align-items: center;
	margin-right: 5.1rem;
}

.site-header__item:not(:last-child) {
	margin-right: 5.1rem;
}

.site-header__link {
	text-align: justify;
	color: var(--dark-blue);
	transition: all 0.4s ease;
	white-space: nowrap;
}

.site-header__link:hover {
	color: var(--green-color);
}

.site-header__link:active {
	opacity: 0.6;
}

.site-header__btn {
	padding: 1rem 2rem;
	background-image: var(--gradient-green);
	border: none;
	border-radius: 21px;
	color: var(--light-grey);
	transition: opacity 0.4s ease;
	cursor: pointer;
}

.site-header__btn:hover {
	opacity: 0.8;
}

.site-header__btn:active {
	opacity: 0.6;
}

.menu {
	display: none;
}

.hero {
	padding-top: 5.5rem;
	padding-bottom: 6rem;
	color: var(--dark-blue);
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__info {
	max-width: 646px;
	width: 100%;
	margin-right: 3rem;
}

.hero__title {
	margin-bottom: 2rem;
	font-weight: 600;
	font-size: 6rem;
	line-height: 1.1;
}

.hero__text {
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.4;
	margin-bottom: 3rem;
}

.hero__img-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero__img-wrapper img {
	width: 100%;
}

.main-info {
	padding-top: 6rem;
	padding-bottom: 10.2rem;
}

.main-info__big-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.main-info__big-list:not(:last-child) {
	margin-bottom: 2rem;
}

.main-info__mini-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin-bottom: 2rem;
}

.main-info__item {
	padding: 4rem;
	border-radius: 4rem;
	background-color: #fff;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.main-info__item-top {
	display: flex;
	align-items: center;
	margin-bottom: 1.4rem;
}

.main-info__item-img {
	background-color: #fdead4;
	padding: 0.4rem;
	border-radius: 0.4rem;
	margin-right: 1rem;
}

.main-info__item-title {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.4;
}

.main-info__item-text {
	margin-bottom: 3.2rem;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.4;
	color: #6f7973;
}

.main-info__item-btn {
	padding: 1rem 3rem;
	border: 1px solid var(--green-color);
	color: var(--green-color);
	background-color: transparent;
	border-radius: 2.1rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.4;
	cursor: pointer;
	transition: all 0.4s ease;
}

.main-info__item-btn:hover {
	background-color: var(--green-color);
	color: var(--light-grey);
}

.main-info__item-btn:active {
	opacity: 0.6;
}

.main-info__ad {
	background-image: var(--gradient-green-light);
	padding: 3.3rem 3.2rem;
	border-radius: 4rem;
	box-shadow: 0px 4px 12px 0px #0000000d;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-info__ad-gift {
	display: flex;
	align-items: center;
	margin-right: 1rem;
}

.main-info__ad-img {
	margin-right: 2rem;
	width: 40px;
	height: 40px;
}

.main-info__ad-text {
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.4;
	color: var(--green-color);
}

.main-info__ad-btn {
	white-space: nowrap;
}

.product {
	padding-bottom: 12rem;
}

.product__title {
	margin-bottom: 6rem;
	font-weight: 600;
	font-size: 2.8rem;
	line-height: 1.4;
}

.product__info-wrapper {
	display: flex;
	justify-content: space-between;
}

.product__inner {
	background-color: #fff;
	max-width: 646px;
	width: 100%;
	box-shadow: 0px 4px 12px 0px #0000000d;
	border-radius: 4rem;
	padding: 4rem;
}

.product__inner:nth-child(2) {
	background-image: linear-gradient(252.7deg, #e5f6e6 17.34%, #dff7e0 90.57%);
	margin-left: 2rem;
}
.product__inner-title {
	text-align: center;
	margin-bottom: 4rem;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.4;
	color: var(--product-title-color);
}

.product__item {
	display: flex;
}

.product__item:not(:last-child) {
	margin-bottom: 2rem;
}

.product__img {
	margin-right: 2rem;
	width: 24px;
	height: 24px;
	object-fit: cover;
}

.product__text {
	color: var(--product-title-color);
	font-size: 2rem;
	line-height: 1.4;
}

.my-carousel-progress {
	background: #ccc;
}

.my-carousel-progress-bar {
	background: greenyellow;
	height: 2px;
	transition: width 400ms ease;
	width: 0;
}

.top-products {
	background: linear-gradient(252.7deg, #ebf5eb 17.34%, #effbf0 90.57%);
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.top-products__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4.4rem;
}

.top-products__title {
	font-weight: 600;
	font-size: 2.8rem;
	line-height: 1.4;
}

.splide {
	padding-left: 5rem;
	padding-right: 5rem;
}

.splide__arrow {
	background-color: transparent;
}

.splide__arrow svg {
	fill: #6f7973;
	height: 24px;
	width: 24px;
}

.splide__arrow svg:hover {
	fill: #327f36;
}

.splide__slide {
	box-shadow: 0px 4px 12px 0px #0000000d;
	background-color: #fff;
	padding: 4rem;
	border-radius: 4rem;
}

.splide__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.splide__title {
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.4;
}

.splide__btn {
	color: #43a548;
	border: 1px solid #43a548;
	padding: 0.4rem 1rem;
	border-radius: 2.1rem;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.4;
	background-color: transparent;
}

.splide__info {
	display: flex;
}

.splide__circle {
	display: block;
	width: 10px;
	height: 6px;
	background-color: #838684;
	border-radius: 50%;
	margin-right: 1rem;
}

.splide__text {
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.4;
	color: #838684;
}

.splide__link {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-top: 4rem;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.4;
	color: #43a548;
	transition: color 0.4s ease;
}

.splide__link:hover {
	color: #327f36;
}

.splide__img {
	margin-left: 0.4rem;
}

.support {
	padding-top: 12rem;
	padding-bottom: 6rem;
}
.support__container {
	padding: 6.2rem 4rem;
	border-radius: 4rem;
	box-shadow: 0px 4px 12px 0px #0000000d;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.support__info {
	max-width: 642px;
	width: 100%;
	margin-right: 1rem;
}

.support__title {
	font-weight: 600;
	font-size: 2.6rem;
	line-height: 1.4;
	margin-bottom: 4rem;
}
.support__text a {
	color: #43a548;
}
.support__inner {
	max-width: 477px;
	width: 100%;
	border-radius: 4rem;
	background-image: linear-gradient(252.7deg, #ebf5eb 17.34%, #effbf0 90.57%);
	padding: 4rem;
}

.support__inner-title {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.4;
	margin-bottom: 2rem;
}

.support__inner-title a {
	color: #43a548;
}

.support__inner-links {
	display: flex;
	justify-content: space-between;
}

.support__inner-links__left {
	margin-right: 1rem;
}

.support__inner-links__left h5 {
	color: #6f7973;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.4;
	margin-bottom: 1rem;
}

.support__inner-link {
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.4;
	color: #43a548;
}
.support__inner-link__right {
}

.support__inner-link__right h5 {
	color: #6f7973;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.4;
	margin-bottom: 1rem;
}

.stores {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.stores__container {
	display: flex;
	justify-content: space-between;
}

.stores__left {
	max-width: 636px;
	width: 100%;
}

.stores__title {
	margin-bottom: 4rem;
	font-weight: 600;
	font-size: 2.6rem;
	line-height: 1.4;
}

.stores__img {
	width: 500px;
	height: 500px;
	object-fit: cover;
}

.stores__right {
	max-width: 636px;
	width: 100%;
}

.stores__list {
	width: 100%;
}

.stores__item {
	background-color: #fff;
	box-shadow: 0px 4px 12px 0px #0000000d;
	padding: 4rem;
	border-radius: 4rem;
}

.stores__item:not(:last-child) {
	margin-bottom: 2rem;
}

.stores__item-title {
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.4;
	margin-bottom: 2rem;
}

.stores__item-text {
	color: #6f7973;
}

.stores__item-link {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	color: var(--green-color);
	transition: all 0.4s ease;
}

.stores__item-link img {
	margin-left: 0.4rem;
}

.stores__item-link:hover {
	color: #327f36;
}

.stores__item-link:active {
	opacity: 0.6;
}

.form {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.form__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: linear-gradient(100.98deg, #43a548 -4.14%, #52e259 108.69%);
	padding: 6rem;
	border-radius: 4rem;
	color: var(--light-grey);
}

.form__info {
	max-width: 541px;
	width: 100%;
}

.form__title {
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 1.4;
	margin-bottom: 2rem;
}

.form__text {
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.4;
}

form {
	max-width: 574px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

label {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.4;
	margin-bottom: 0.8rem;
}

input {
	outline: none;
	border: none;
	padding: 1rem 2rem;
	border-radius: 2rem;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.4;
	color: var(--product-title-color);
	border: 1px solid transparent;
	margin-bottom: 2rem;
}

input::placeholder {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.4;
	color: #6f7973;
}

input:focus {
	border: 1px solid rgb(252, 155, 10);
	outline-color: rgb(252, 155, 10);
}

.form__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form__inner-text {
	max-width: 374px;
	width: 100%;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.4;
}

.form__inner-text span {
	color: var(--dark-blue);
}

.form__inner-btn {
	padding: 1.2rem 4.9rem;
	background-color: var(--dark-blue);
	color: var(--light-grey);
	border: none;
	border-radius: 2.1rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.4;
	cursor: pointer;
	transition: all 0.4s ease;
}

.form__inner-btn:hover {
	background-image: linear-gradient(100.98deg, #43a548 -4.14%, #52e259 108.69%);
}

.form__inner-btn:active {
	opacity: 0.6;
}

/* MEDIA START */
@media screen and (max-width: 1120px) {
	.hero {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.hero__info {
		max-width: 500px;
		margin-right: 2rem;
	}

	.hero__title {
		margin-bottom: 1.8rem;
		font-size: 4.8rem;
	}

	.hero__text {
		font-size: 1.8rem;
	}
}
@media screen and (max-width: 1024px) {
	.btn {
		padding: 0.8rem 1.6rem;
	}
	.site-header {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.logo-link img {
		margin-right: 0.8rem;
	}

	.logo-link__title {
		font-size: 2rem;
	}

	.site-header__list {
		margin-right: 2.4rem;
	}

	.site-header__item:not(:last-child) {
		margin-right: 2.4rem;
	}

	.hero {
		padding-top: 4.4rem;
		padding-bottom: 5.2rem;
	}

	.hero__info {
		max-width: 450px;
	}

	.hero__title {
		margin-bottom: 1.6rem;
		font-size: 4rem;
	}

	.hero__text {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 900px) {
	.main-info {
		padding-top: 5.2rem;
		padding-bottom: 8rem;
	}

	.main-info__big-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.6rem;
	}

	.main-info__big-list:not(:last-child) {
		margin-bottom: 1.6rem;
	}

	.main-info__mini-list {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.6rem;
		margin-bottom: 1.6rem;
	}

	.main-info__item {
		padding: 2rem;
	}

	.main-info__item-top {
		margin-bottom: 1.2rem;
	}

	.main-info__item-title {
		font-size: 2rem;
	}

	.main-info__item-text {
		margin-bottom: 3rem;
		font-size: 1.4rem;
	}

	.main-info__item-btn {
		padding: 0.8rem 2rem;
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 860px) {
	.logo-link__title {
		font-size: 1.8rem;
	}

	.site-header__list {
		margin-right: 2rem;
	}

	.site-header__item:not(:last-child) {
		margin-right: 1.2rem;
	}

	.support {
		padding-top: 6.4rem;
		padding-bottom: 6.4rem;
	}

	.support__container {
		padding: 3rem 3rem;
	}

	.support__title {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	.support__inner {
		padding: 2.4rem;
	}

	.support__inner-title {
		font-size: 1.6rem;
	}

	.support__inner-links__left {
		margin-right: 0.5rem;
	}

	.support__inner-links__left h5 {
		margin-bottom: 0.5rem;
	}

	.support__inner-link {
		font-size: 1.6rem;
	}

	.support__inner-link__right h5 {
		margin-bottom: 0.5rem;
	}
}

@media screen and (max-width: 768px) {
	.site-header__list {
		display: none;
	}

	.site-header__btn {
		display: none;
	}

	.menu {
		display: block;
	}

	.logo-link {
	}

	.logo-link img {
		width: 32px;
		height: 32px;
	}

	.logo-link__title {
		font-size: 1.8rem;
	}

	.hero {
		padding-top: 3.2rem;
	}

	.hero__container {
		flex-direction: column;
	}

	.hero__info {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.hero__title {
		margin-bottom: 2rem;
		font-size: 3rem;
	}

	.btn {
		font-size: 1.4rem;
	}

	.hero__img-wrapper {
		width: 100%;
		height: auto;
	}

	.hero__img-wrapper img {
		height: auto;
	}

	.main-info {
		padding-bottom: 6.4rem;
	}

	.main-info__big-list {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}

	.main-info__mini-list {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}

	.main-info__item-text {
		margin-bottom: 2rem;
		font-size: 1.2rem;
	}

	.main-info__ad {
		padding: 3.3rem 3.2rem;
		justify-content: center;
		flex-direction: column;
	}

	.main-info__ad-text {
		font-size: 1.6rem;
	}

	.main-info__ad-gift {
		margin-bottom: 1rem;
	}

	.main-info__ad-btn {
		display: block;
		width: 100%;
	}

	.product {
		padding-bottom: 6.4rem;
	}

	.product__title {
		margin-bottom: 3rem;
	}

	.product__info-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.product__inner {
		max-width: 98%;
		border-radius: 2rem;
		padding: 2rem;
	}

	.product__inner:nth-child(2) {
		margin-left: 0rem;
		margin-top: 2rem;
	}

	.product__inner-title {
		margin-bottom: 2rem;
		font-size: 2rem;
	}

	.product__text {
		font-size: 1.4rem;
	}

	.support__container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 2rem;
	}

	.support__info {
		margin-right: 0;
		max-width: 100%;
		margin-bottom: 2rem;
	}

	.support__inner {
		padding: 2rem;
		max-width: 100%;
	}

	.support__inner-title {
		font-size: 1.4rem;
	}

	.support__inner-links__left {
		margin-right: 0;
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 520px) {
	body {
		font-size: 1.2rem;
	}

	.btn {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 420px) {
	.support__inner-links {
		flex-direction: column;
	}
}
