:root {
	--green-color: #43a548;
	--dark-blue: #2c2b35;
	--gradient-green: linear-gradient(100.98deg, #43a548 -4.14%, #52e259 108.69%);
	--gradient-green-light: linear-gradient(252.7deg, #ebf5eb 17.34%, #effbf0 90.57%);
	--light-grey: #f7f8f8;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	/* 1rem = 10px */
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.3;
	color: var(--dark-blue);
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1352px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.btn {
	padding: 1rem 3rem;
	background-color: var(--green-color);
	color: var(--light-grey);
	border: none;
	border-radius: 2.1rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.4;
	cursor: pointer;
	transition: all 0.4s ease;
}

.btn:hover {
	background-image: linear-gradient(100.98deg, #43a548 -4.14%, #52e259 108.69%);
}

.btn:active {
	opacity: 0.6;
}

.site-header {
	background-color: #fff;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	box-shadow: 0px 4px 24.2px 0px #0000000f;
	position: sticky;
	top: 0;
}

.site-header__container {
	display: flex;
	align-items: center;
}

.logo-link {
	margin-right: auto;
	display: flex;
	align-items: center;
	color: var(--dark-blue);
	transition: all 0.4s ease;
}

.logo-link:hover {
	color: #43a548;
	transform: scale(1.1);
}

.logo-link:active {
	opacity: 0.6;
}

.logo-link img {
	margin-right: 10px;
}

.logo-link__title {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.3;
	text-align: justify;
	white-space: nowrap;
}

.site-header__list {
	display: flex;
	align-items: center;
	margin-right: 5.1rem;
}

.site-header__item:not(:last-child) {
	margin-right: 5.1rem;
}

.site-header__link {
	text-align: justify;
	color: var(--dark-blue);
	transition: all 0.4s ease;
	white-space: nowrap;
}

.site-header__link:hover {
	color: var(--green-color);
}

.site-header__link:active {
	opacity: 0.6;
}

.site-header__btn {
	padding: 1rem 2rem;
	background-image: var(--gradient-green);
	border: none;
	border-radius: 21px;
	color: var(--light-grey);
	transition: opacity 0.4s ease;
	cursor: pointer;
}

.site-header__btn:hover {
	opacity: 0.8;
}

.site-header__btn:active {
	opacity: 0.6;
}

.menu {
	display: none;
}

.hero {
	padding-top: 5.5rem;
	padding-bottom: 6rem;
	color: var(--dark-blue);
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__info {
	max-width: 646px;
	width: 100%;
	margin-right: 3rem;
}

.hero__title {
	margin-bottom: 2rem;
	font-weight: 600;
	font-size: 6rem;
	line-height: 1.1;
}

.hero__text {
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.4;
	margin-bottom: 3rem;
}

.hero__img-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero__img-wrapper img {
	width: 100%;
}

.main-info {
	padding-top: 6rem;
	padding-bottom: 10.2rem;
}

.main-info__big-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.main-info__big-list:not(:last-child) {
	margin-bottom: 2rem;
}

.main-info__mini-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin-bottom: 2rem;
}

.main-info__item {
	padding: 4rem;
	border-radius: 4rem;
	background-color: #fff;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.main-info__item-top {
	display: flex;
	align-items: center;
	margin-bottom: 1.4rem;
}

.main-info__item-img {
	background-color: #fdead4;
	padding: 0.4rem;
	border-radius: 0.4rem;
	margin-right: 1rem;
}

.main-info__item-title {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.4;
}

.main-info__item-text {
	margin-bottom: 3.2rem;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.4;
	color: #6f7973;
}

.main-info__item-btn {
	padding: 1rem 3rem;
	border: 1px solid var(--green-color);
	color: var(--green-color);
	background-color: transparent;
	border-radius: 2.1rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.4;
	cursor: pointer;
	transition: all 0.4s ease;
}

.main-info__item-btn:hover {
	background-color: var(--green-color);
	color: var(--light-grey);
}

.main-info__item-btn:active {
	opacity: 0.6;
}

.main-info__ad {
	background-image: var(--gradient-green-light);
	padding: 3.3rem 3.2rem;
	border-radius: 4rem;
	box-shadow: 0px 4px 12px 0px #0000000d;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-info__ad-gift {
	display: flex;
	align-items: center;
	margin-right: 1rem;
}

.main-info__ad-img {
	margin-right: 2rem;
	width: 40px;
	height: 40px;
}

.main-info__ad-text {
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.4;
	color: var(--green-color);
}

.main-info__ad-btn {
	white-space: nowrap;
}

/* MEDIA START */
@media screen and (max-width: 1120px) {
	.hero {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.hero__info {
		max-width: 500px;
		margin-right: 2rem;
	}

	.hero__title {
		margin-bottom: 1.8rem;
		font-size: 4.8rem;
	}

	.hero__text {
		font-size: 1.8rem;
	}
}
@media screen and (max-width: 1024px) {
	.btn {
		padding: 0.8rem 1.6rem;
	}
	.site-header {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.logo-link img {
		margin-right: 0.8rem;
	}

	.logo-link__title {
		font-size: 2rem;
	}

	.site-header__list {
		margin-right: 2.4rem;
	}

	.site-header__item:not(:last-child) {
		margin-right: 2.4rem;
	}

	.hero {
		padding-top: 4.4rem;
		padding-bottom: 5.2rem;
	}

	.hero__info {
		max-width: 450px;
	}

	.hero__title {
		margin-bottom: 1.6rem;
		font-size: 4rem;
	}

	.hero__text {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 900px) {
	.main-info {
		padding-top: 5.2rem;
		padding-bottom: 8rem;
	}

	.main-info__big-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.6rem;
	}

	.main-info__big-list:not(:last-child) {
		margin-bottom: 1.6rem;
	}

	.main-info__mini-list {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.6rem;
		margin-bottom: 1.6rem;
	}

	.main-info__item {
		padding: 2rem;
	}

	.main-info__item-top {
		margin-bottom: 1.2rem;
	}

	.main-info__item-title {
		font-size: 2rem;
	}

	.main-info__item-text {
		margin-bottom: 3rem;
		font-size: 1.4rem;
	}

	.main-info__item-btn {
		padding: 0.8rem 2rem;
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 860px) {
	.logo-link__title {
		font-size: 1.8rem;
	}

	.site-header__list {
		margin-right: 2rem;
	}

	.site-header__item:not(:last-child) {
		margin-right: 1.2rem;
	}
}

@media screen and (max-width: 768px) {
	.site-header__list {
		display: none;
	}

	.site-header__btn {
		display: none;
	}

	.menu {
		display: block;
	}

	.logo-link {
	}

	.logo-link img {
		width: 32px;
		height: 32px;
	}

	.logo-link__title {
		font-size: 1.8rem;
	}

	.hero {
		padding-top: 3.2rem;
	}

	.hero__container {
		flex-direction: column;
	}

	.hero__info {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.hero__title {
		margin-bottom: 2rem;
		font-size: 3rem;
	}

	.btn {
		font-size: 1.4rem;
	}

	.hero__img-wrapper {
		width: 100%;
		height: auto;
	}

	.hero__img-wrapper img {
		height: auto;
	}

	.main-info {
		padding-bottom: 6.4rem;
	}

	.main-info__big-list {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}

	.main-info__mini-list {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}

	.main-info__item-text {
		margin-bottom: 2rem;
		font-size: 1.2rem;
	}

	.main-info__ad {
		padding: 3.3rem 3.2rem;
		justify-content: center;
		flex-direction: column;
	}

	.main-info__ad-text {
		font-size: 1.6rem;
	}

	.main-info__ad-gift {
		margin-bottom: 1rem;
	}

	.main-info__ad-btn {
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 520px) {
	body {
		font-size: 1.2rem;
	}

	.btn {
		font-size: 1.2rem;
	}
}
